@import "../themes/gruvbox/wlogout.css";

#hibernate {
  background-image: url("/usr/share/wlogout/icons/hibernate.png");
}
#lock {
  background-image: url("/usr/share/wlogout/icons/lock.png");
}
#logout {
  background-image: url("/usr/share/wlogout/icons/logout.png");
}
#reboot {
  background-image: url("catppuccin-wlogout/icons/wlogout/mocha/blue/reboot.svg");
}
#shutdown {
  background-image: url("catppuccin-wlogout/icons/wlogout/mocha/blue/shutdown.svg");
}
#suspend {
  background-image: url("catppuccin-wlogout/icons/wlogout/mocha/blue/suspend.svg");
}
