/* Gruvbox Dark theme for Wlogout */
/* Based on https://github.com/morhetz/gruvbox */

* {
    background-image: none;
}

window {
    background-color: rgba(40, 40, 40, 0.95); /* bg0 */
}

button {
    color: #ebdbb2; /* fg1 */
    background-color: #3c3836; /* bg1 */
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-color: #665c54; /* bg3 */
}

button:focus, button:active, button:hover {
    background-color: #504945; /* bg2 */
    border-color: #fe8019; /* orange */
    outline-style: none;
}

#lock {
    border-color: #b8bb26; /* green */
}

#logout {
    border-color: #83a598; /* blue */
}

#suspend {
    border-color: #fabd2f; /* yellow */
}

#hibernate {
    border-color: #d3869b; /* purple */
}

#shutdown {
    border-color: #fb4934; /* red */
}

#reboot {
    border-color: #fe8019; /* orange */
}
