@import "../themes/gruvbox/waybar.css";

* {
  color: @fg0;
  background-color: @bg0;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

#workspaces button.active {
  background-color: @fg1;
}

#workspaces button {
  all: initial;
  padding: 1 1px;
  /* margin: 0 1.5px; */
  min-width: 9px;
}

#cpu,
#battery,
#pulseaudio,


#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
